.contains-task-list
  list-style none
  padding 0
  .contains-task-list
    padding-left 18px

.blog__post-icon
  width 12px
  height 12px
  fill #999
  margin-right 4px

.blog__post-tags
  display flex
  align-items center

.blog__post-tag
  font-size 14px
  color #999
  margin-right 4px
  line-height 20px

.blog__post-span
  font-size 14px
  margin-right 18px
  color #999
  line-height 20px
